<section class="ms-5">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="visually-hidden">Title</label>
      <input type="text" id="post-title" placeholder="Title" name="post-title" />
    </div>
    <div>
      <label for="content" class="visually-hidden">What's happening?</label>
      <input id="content" name="content" placeholder="What's happening?"/>
    </div>
    <button type="submit" class="btn btn-danger mt-3 mb-5">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="ms-5 pb-5">
  <h2>Your Posts</h2>
  <ul class="list-unstyled">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <button class="btn btn-danger mt-0"><a href="/dashboard/edit/{{post.id}}" class="edit-link text-decoration-none text-white">Edit post</a></button>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>