@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

.post {
    border: rgb(255, 255, 255) 2px solid;
    padding: 20px;
    box-shadow: inset rgb(144, 144, 144) 0px 0px 14px 0px;
    max-width: 900px;
}

input, textarea {
    border: rgb(255, 255, 255) 2px solid;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 500px;
    box-shadow: inset rgb(144, 144, 144) 0px 0px 7px 0px;
}

.fst-italic {
    color: #dc3545;
}

.link {
    color: #dc3545;
}